
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.vscode/
/reports/screenshots/
/reports/videos/
/reports/cucumber-report.html
/reports/cucumber-report.json
.eslintrc.json
cucumber.cjs